* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 70px;
}

p {
    margin: 0;
}

@media (max-width:770px) {
    section {
        scroll-margin-top: 50px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
}
input:focus {
    outline: none;  /* Убирает стандартный бордер */
    border: none;   /* Убирает бордер */
  }
  
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*  */
.pageTitle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #931B17;
}

.popUpTitle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4B4B4B;
}


/* ==== */

.projectListCustomer{
    width: 300px;
}

.projectListTitle{
    width: 235px;
}
.projectListInfo{
    width: 370px;
}
.projectListProgress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-right: 100px;
}

.itemDescription p {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 23px;
}


.mainPage .userHeader{
    position: absolute;
}