.navBar {
    display: flex;
    flex-direction: column;
/*     width: 200px; */
    padding: 25px 0;
    padding-left: 30px;
    row-gap: 25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 35.16px rgba(0, 0, 0, 0.08);

}

.navLink {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
}

.navLink:hover p {
  /*   color: #E53012; */
}

.navLink p {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #5D7285;
}

.active p {
/*     color: #E53012; */
}

.navLink img {
    width: 40px;
    height: auto;
}