

.page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    
}
.main{
    width: 100%;
}
.pageRow{
    display: flex;
    flex-direction: row;
width: 100vw;
    max-width: 100vw;

}

:root {
    --nav-width: 270px;
}

.navBar {
    width: var(--nav-width);
    height: 100vh;
}

.admin .main {
    width: calc(100vw - var(--nav-width));
}

