.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

.rightColumn {
  display: grid;
  gap: 1rem;
}

.profileImageContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadButton {
  width: 150px;
}